.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--aura-black);
}
.nav-contain {
    margin: 0 16px;
}
@media (min-width: 991px) {
    .nav-contain {
        margin: 0 40px;
    }
}
.navbar .navbar-toggler {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler i.icon {
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar .navbar-toggler i.icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../images/icons/color/burger.png") center no-repeat;
    background-size: auto;
}
#headerSearchToggler i.icon.search:before {
    background: url("../../images/icons/color/search.png") center no-repeat;
    background-size:  24px;
}
.navbar .navbar-toggler[aria-expanded="true"] i.icon:before {
    background: url("../../images/icons/basic/close.png") center no-repeat !important;
    background-size: auto !important;
}
@media (max-width: 991px) {
    .navbar .nav-menu {
        position: relative;
        padding-top: 100px;
        padding-left: 80px;
    }
    .navbar .nav-menu .dropdown {
        position: static;
    }
}
.navbar .nav-menu .nav-item .divider.divider-vertical {
    min-height: 48px;
}
.navbar .nav-menu .nav-item .nav-link {
    width: max-content;
    cursor: pointer;
    background: transparent;
    color: var(--aura-light-gray);
    transition: all 0.35s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
.navbar .nav-menu .nav-item .nav-link:after {
    border: none;
    width: 20px;
    height: 20px;
    background: url("../../images/icons/basic/chevron-down.png") center no-repeat;
    background-size: contain;
    margin-left: 8px;
    transition: background 0.45s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
}
.navbar .nav-menu .nav-item .nav-link.show:after {
    background: url("../../images/icons/white/chevron-up.png") center no-repeat;
    background-size: contain;
}
.navbar .nav-menu .nav-item .nav-link:hover, .navbar .nav-menu .nav-item .nav-link.show {
    color: var(--aura-white);
}
.navbar .nav-menu .nav-item .nav-link:first-child {
    margin-left: 0;
}
.navbar .nav-menu .nav-item .h4 {
    margin-bottom: 0;
}
.navbar .nav-menu .nav-item .dropdown-menu {
    border: none;
    display: block !important;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    min-width: fit-content;
    background: transparent;
    transition: all 0.35s ease-in-out;
}
.navbar .nav-menu .nav-item .dropdown-menu.show {
    max-height: 300px;
    padding: 24px 0;
    opacity: 1;
}
.navbar .nav-menu .nav-item .dropdown-menu li {
    display: block;
    text-align: left;
}
.navbar .nav-menu .nav-item .dropdown-menu .dropdown-item {
    padding: 8px 0;
    color: var(--aura-white);
    transition: background-color 0.35s ease-in-out;
}
@media (min-width: 992px) {
    .navbar .nav-menu .nav-item .dropdown-menu .dropdown-item {
        padding: 8px 24px;
    }
}
.navbar .nav-menu .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-menu .nav-item .dropdown-menu .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 992px) {
    .navbar .nav-menu .nav-item .dropdown-menu {
        left: -24px;
        right: -24px;
        background: rgba(20, 20, 22, 0.95);
        box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
    }
}
.navbar--container {
    left: 50%;
    transform: translateX(-50%);
}
.navbar.expanded {
    bottom: 0;
    overflow-y: scroll;
    align-items: flex-start;
}
@media (min-width: 992px) {
    .navbar.expanded {
        bottom: unset;
        overflow-y: unset;
    }
}
.navbar .aura-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 145px;
    height: 50px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .navbar .aura-btn {
        width: 100%;
    }
}
.navbar .aura-btn-outline-gradient {
    border-radius: 100rem;
    color: var(--aura-white);
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 1.5px transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(108deg, rgba(94, 230, 208, 1) 12.51%, rgba(191, 198, 255, 1) 51.13%, rgba(255, 186, 105, 1) 87.49%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #141416 inset;
}

.navbar .social-group {
    margin-left: 14px;
}
@media (max-width: 991px) {
    .navbar .social-group {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        margin-left: 0;
    }
}
.navbar .social-group .elementor-container.elementor-column-gap-default {
    justify-content: center;
}

.search-group .search-bar-form{
    position: relative;
}
.search-group .search-bar {
    border: none;
    outline: none;
    padding: 10px 20px;
    padding-right: 60px;
    color: #fff;
    background: 0 0;
    height: 44px;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.search-group .search-bar-form button {
    width: 20px;
    height: 44px;
    background: url("../../images/icons/basic/seach.png") center no-repeat;
    position: absolute;
    right: 15px;
}
.style_wrapper {
    position: absolute;
    width: 376px;
    top: 80px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    display: none;
    height: auto;
}
.style_dropdownWrapper {
    padding: 24px;
    color: #D2D0CE !important;
    top: 120% !important;
    min-height: 10rem;
    width: 100%;
}
.style_txtTrending {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #777E91;
}
.style_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    background: #38383D;
    border-radius: 6px;
    margin: 0 8px 12px 0;
}
.style_tagWrapper {
    display: flex;
    flex-wrap: wrap;
}
.style_tagItem {
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFD;
}
.style_tagItem:hover {
    color: #CFB160;
    background: #333333;
}
.navbar-collapse.header-search-mob {
    display: block !important;
}
@media (min-width: 768px) {
    .navbar-collapse.header-search-mob {
        display: none !important;
    }
}
@media (max-width: 600px) {
    #headerSearchToggler {
        margin-right: 2rem;
    }
    .search-group {
        margin-top: 20px;
    }
    .search-group .search-bar {
        width: -webkit-fill-available !important;
    }
    .style_wrapper {
        background: none;
        top: 150px;
        display: block;
    }
    .style_dropdownWrapper {
        padding: 8px;
    }
    .style_tag {
        margin: 0px 12px 12px 0px;
    }
}