.news-category {
    margin-top: 150px;
    margin-bottom: 40px;
}
.news-card__list {
    margin-top: 32px;
}
@media (min-width: 992px) {
    .news-category {
        margin-top: 90px;
        margin-bottom: 80px;
    }
    .news-card__list {
        margin-top: 50px;
    }
}