section.news {
    margin-bottom: 100px;
    margin-top: 60px;
}

@media (min-width: 992px) {
    section.news {
        margin-top: 0;
    }
}
section.news .banner-hero {
    margin-bottom: 5.4rem;
    position: relative;
}

section.news .banner-hero img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
@media (min-width: 576px) {
    section.news .banner-hero img {
        height: 350px;
    }
}
@media (min-width: 768px) {
    section.news .banner-hero img {
        object-fit: cover;
    }
}
@media (min-width: 992px) {
    section.news .banner-hero img {
        height: 600px;
        object-fit: contain;
    }
}
@media (min-width: 1024px) {
    section.news .banner-hero img {
        height: 500px;
        object-fit: cover;
    }
}
@media (min-width: 1200px) {
    section.news .banner-hero img {
        height: 500px;
    }
}
@media (min-width: 1440px) {
    section.news .banner-hero img {
        height: 664px;
    }
}
@media (min-width: 1600px) {
    section.news .banner-hero img {
        height: 800px;
    }
}
@media (min-width: 1920px) {
    section.news .banner-hero img {
        height: 800px;
        object-fit: contain;
    }
}
@media (min-width: 992px) {
    section.news .banner-info {
        position: absolute;
        left: 0;
        right: 0;
        top: 56px;
    }
}

section.news .banner-info .sub-title span {
    font-size: 1.4rem;
    line-height: 2.4rem;
    background: var(--aura-gradient-simple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

section.news .banner-info .sub-title img {
    width: 20px;
    height: 20px;
}

section.news .tab-content a {
    position: relative;
    margin-right: 4.8rem;
    color: var( --aura-neutrals-4);
    transition: color .35s ease-in-out;
}


section.news .tab-content a:before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--aura-gradient-simple);
    transition: width .35s ease-in-out;
}

section.news .tab-content a.active, section.news .tab-content a:hover {
    color: var(--aura-white);
}

section.news .tab-content a.active:before, section.news .tab-content a:hover:before {
    width: 100%;
}

section.news .post-box {
    margin-top: 45px;
    margin-left: -22.5px;
    margin-right: -22.5px;
}

section.news .post-content {
    color: #FCFCFD;
    display: block;
    text-decoration: none;
    padding: 0 16px;
    transition: all .35s ease-in-out;
}

section.news .post-content:hover {
    transform: translate3D(3px, -3px, 0);
}

section.news .post-content .post-item {
    border-radius: 19px;
    transition: box-shadow .35s ease-in-out;
}
section.news .post-content:hover .post-item {
    box-shadow: 25px 13px 20px -12px rgb(108 97 97 / 40%);

}

section.news .post-content .post-img-contain {
    position: relative;
    overflow: hidden;
    border-radius: 19px;
    width: 100%;
}
section.news .post-content .post-img-contain:before {
    content: "";
    display: block;
    padding-top: 60.34482758620%;
}
section.news .post-content .post-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--aura-black);
}
@media (max-width: 375px) {
    section.news .post-content .post-img {
        /*height: 170px;*/
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    section.news .post-content .post-img {
        width: auto;
    }
}
section.news .post-content .item-post-time {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

section.news .post-content .item-post-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #777E90;
}

section.news .search-bar-form {
    position: relative;
    text-align: right;
}

section.news .search-bar-form button {
    width: 20px;
    height: 44px;
    background: url(../../images/icons/basic/seach.png) center no-repeat;
    position: absolute;
    right: 15px;
}

section.news #search-bar {
    width: 100%;
    padding: 10px 15px;
    padding-right: 60px;
    color: white;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    background-color: #2d2d2d;
    height: 44px;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

section.news #search-bar::placeholder {
    color: var(--aura-white);
}

@media (max-width: 992.99px) {
    section.news .post-content {
        padding: 0;
        padding-bottom: 32px;
    }
    section.news .tab-content{
        text-align: center;
        margin-bottom: 3rem;
        width: 100%;
    }
    section.news .tab-content a {
        margin-right: 1rem;
        font-size: 2.5rem !important;
    }
    section.news .post-box {
        margin-top: 3.6rem !important;
        margin-left: 0;
        margin-right: 0;
    }
    section.news .sub-text{
        font-size: 2rem !important;
        line-height: 2.7rem !important;
    }
}