section.news {
    margin-bottom: 56px;
}
section.news .banner-hero {
    margin-bottom: 5.4rem;
    position: relative;
}

section.news .banner-hero img {
    width: 100%;
}

section.news .tab-content a {
    position: relative;
    margin-right: 4.8rem;
    color: var( --aura-neutrals-4);
    transition: color .35s ease-in-out;
}


section.news .tab-content a:before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--aura-gradient-simple);
    transition: width .35s ease-in-out;
}

section.news .tab-content a.active, section.news .tab-content a:hover {
    color: var(--aura-white);
}

section.news .tab-content a.active:before, section.news .tab-content a:hover:before {
    width: 100%;
}

section.news .post-box {
    margin-top: 45px;
    margin-left: -22.5px;
    margin-right: -22.5px;
}

.news-card.post-content {
    color: #FCFCFD;
    display: block;
    text-decoration: none;
    transition: all .35s ease-in-out;
    padding: 0 16px;
}

.news-card.post-content .post-info-contain {
    padding: 0 16px;
}

@media (min-width: 992px) {
    .news-card.post-content .post-info-contain {
        padding: 0;
    }
}

.news-card.post-content .post-item {
    border-radius: 19px;
}

@media (min-width: 768px) {
    .news-card.post-content .post-item .post-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        min-height: 72px;
        -webkit-box-orient: vertical;
    }
}

@media (min-width: 992px) {
    .news-card.post-content .post-item .post-title {
        -webkit-line-clamp: 2;
        line-clamp: 2;
        min-height: 50px;
    }
    .news-card.post-content:hover .post-item .post-title {
        background: var(--aura-gradient-simple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.news-card.post-content .post-img-contain {
    position: relative;
    overflow: hidden;
    border-radius: 19px;
    width: 100%;
    border: 2px solid transparent;
    box-shadow: none;
    transition: all .35s ease-in-out;
}

.news-card.post-content:hover .post-img-contain {
    border: 2px solid var(--aura-neutrals-3);
    box-shadow: 0 2px 36px 12px #31313140;
}

.news-card.post-content .post-img-contain:before {
    content: "";
    display: block;
    padding-top: 60.34482758620%;
}
.news-card.post-content .post-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--aura-black);
}

.news-card.post-content .item-post-time {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.news-card.post-content .item-post-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #777E90;
}

.search-bar-form {
    position: relative;
    text-align: right;
}

.search-bar-form button {
    width: 20px;
    height: 44px;
    background: url(../../images/icons/basic/seach.png) center no-repeat;
    position: absolute;
    right: 15px;
}

#search-bar {
    width: 100%;
    padding: 10px 15px;
    padding-right: 60px;
    color: white;
    border: 1.7px solid var(--aura-neutrals-3);
    border-radius: 25px;
    background: transparent;
    height: 44px;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

#search-bar::placeholder {
    color: var(--aura-white);
}

.aura-tag {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    background: var(--aura-dark-gray);
    padding: 0.4rem 1.6rem;
    margin-right: 12px;
    color: var(--aura-white);
    font-size: 1.2rem;
    line-height: 1.6rem;
}

@media (min-width: 992px) {
    a.aura-tag:hover span {
        background: var(--aura-gradient-simple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.news-card .aura-tag {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

@media (max-width: 992.99px) {
    section.news .post-content {
        padding: 0;
    }
    .news-card__list .news-card__item:not(:last-child) .news-card {
        padding-bottom: 32px;
    }
    section.news .tab-content{
        text-align: center;
        margin-bottom: 3rem;
    }
    section.news .tab-content a {
        margin-right: 1rem;
        font-size: 2.5rem !important;
    }
    section.news .post-box {
        margin-top: 3.6rem !important;
        margin-left: 0;
        margin-right: 0;
    }
    section.news .sub-text{
        font-size: 2rem !important;
        line-height: 2.7rem !important;
    }
}
@media (max-width: 767.99px) {
    .news-card.post-content .post-item .post-title {
        min-height: unset;
    }

    .news-card__list .news-card__item:not(:last-child) .news-card {
        border-bottom: 1px solid var(--aura-neutrals-3);
        margin-bottom: 24px;
    }
}