section.news-details {
    margin-top: 130px;
    padding-bottom: 121px;
}

section.news-details .heading-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 28px 0 44px 0;
}

section.news-details .heading-title .categories {
    display: flex;
    flex-wrap: wrap;
}

section.news-details .categories .category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 24px;
    border-radius: 6px;
    background: var(--aura-dark-gray);
    padding: 0.4rem 1.6rem;
    margin-right: 1.6rem;
}

.author-avatar {
    width: 36px;
    height: 36px;
    border: 1px solid var(--aura-neutrals-3);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    margin: 0 12px;
    overflow: hidden;
}
.author-avatar img {
    width: 100%;
    height: auto;
}

.author-name {
    display: flex;
}

section.news-details .featured-image {
    margin-bottom: 40px;
    position: relative;
}

section.news-details .featured-image img {
    width: 100%;
    height: auto;
    border-radius: 18px;
}
section.news-details .social-group {
    margin: 0 -16px;
}
.breadcrumb a:hover,
.breadcrumb a {
    color: var(--aura-white);
    text-decoration: none;
    padding-left: 3.2rem;
}

.breadcrumb a {
    text-decoration: none;
    padding-left: 3.2rem;
    position: relative;
}

.breadcrumb a::before {
    position: absolute;
    content: "";
    left: 0;
    height: 3.2rem;
    width: 3.2rem;
    background: url("../../images/icons/basic/arrow-left.png") center no-repeat;
    transform: translateY(0.3rem);
}

/* news-related */

.news-related .news-related-list .post-item {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
}

.news-related-list .post-item .item-thumbnail {
    width: 100%;
    height: 160px;
    border-radius: 20px;
    flex-grow: 0;
    border: 2px solid transparent;
    box-shadow: none;
    transition: all .35s ease-in-out;
}

.news-related-list .post-item .item-title {
    width: 100%;
    margin-top: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.news-related .news-related-list .post-item:hover .item-thumbnail {
    border: 2px solid var(--aura-neutrals-3);
    box-shadow: 0 2px 36px 12px #31313140;
}

.news-related .news-related-list .post-item:hover .item-title {
    background: var(--aura-gradient-simple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* news-related end */
.social-btn-group {
    margin-top: 20px;
}

.social-btn-group a {
    /* margin-right: 2.4rem; */
    text-decoration: none;
}

@media (max-width: 991.98px) {
    section.news-details .heading-title {
        flex-wrap: wrap-reverse;
    }

    section.news-details.categories .category {
        margin-right: 1.2rem;
    }

    .news-related .news-related-list {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .news-related-list .post-item {
        margin: 0;
    }

    .news-related-list .slick-list .slick-track .slick-slide {
        padding: 0 1.2rem;
    }

    .news-related-list .slick-prev.slick-arrow,
    .news-related-list .slick-next.slick-arrow {
        opacity: 1;
        width: 40px;
        height: 40px;
        font-size: 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--aura-gradient-simple);
        border-radius: 50%;
    }

    .news-related-list .slick-prev.slick-arrow::before,
    .news-related-list .slick-next.slick-arrow::before {
        content: "";
        width: 40px;
        height: 40px;
        background: url("../../images/icons/basic/arrow-right.png") center;
    }

    .slick-prev.slick-arrow::before {
        transform: rotate(180deg);
    }
}
.news-details .content.body  * {
    font-family: SFProDisplay !important;
}

.news-details .content.body p {
    color: var(--aura-light-gray);
    margin-bottom: 16px;
}

.news-details .content.body a {
    color: var(--aura-green);
}